.ant-tabs-nav .ant-tabs-tab-active {
  color: #a2a2a2 !important;

}

.custom-tab {
  height: fit-content;
  color: #363636;
}

.divs {
  margin: auto;
  display: 'flex';
  width: 60%;
  padding: 10px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.dynamic-flex-container {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ccc;  
}

.flex-item {
  flex: 1; /* Distribute available space equally among items */
  min-width: 200px; /* Set a minimum width for each item */
  padding-left: 10px;
  padding-right: 10px;
  overflow: auto; /* Enable both x and y axis scrolling */
  max-height: 150px;
}
@media (max-width: 768px) {
  /* Adjust the styles for screens smaller than 768px */

  /* Header */
  .header {
    padding: 5px 0;
  }

  /* Flex Container */
  .divs {
    width: 100%; /* Take full width on smaller screens */
    padding: 10px;
  }

  /* Flex Items */
  .flex-item {
    flex-basis: 100%; /* Take full width of the container */
    padding-right: 10px;
    padding-left: 10px;
    overflow-x: auto;
  }

  /* Main Content */
  .main-content {
    padding: 10px;
  }

  /* Footer */
  .footer {
    padding: 5px 0;
  }

  /* Scrollable Textarea */
  .scrollable-textarea {
    width: 100%; /* Take full width on smaller screens */
    height: auto; /* Allow textarea to grow vertically */
    max-height: none; /* Allow textarea to expand freely */
    white-space: normal; /* Normal text wrapping */
  }
}

.scrollable-textarea {
  width:'100%'; /* Set a fixed width for the textarea */
  height: 150px; /* Set a fixed height for the textarea */
  overflow: auto; /* Add both horizontal and vertical scroll if content overflows */
  white-space: pre; /* Preserve newlines and spaces */
}

.layout {
  background: none;
  flex: 1
}
.header {
  color: #a2a2a2;
  ;
}

.footer{
  background: none;
  color: #a2a2a2;
}